html {
  font-size: 1.375em;
  /* 22px */
  line-height: 1.2em;
  /* 26px / ~ 120% */
  padding: 1.2em;
  /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
  /*border: solid #F6A740;
  border-width: thick;*/
}
body {
  margin-left: 1em;
  /* 22px */
  margin-right: 1em;
  /* 22px */
  padding: 1em;
  /* 22px */
  font-family: 'Molengo', 'Average', sans-serif;
  background-color: #F0EAEA;
}
ol.b {
  list-style-type: lower-aplha;
}
ul.a {
  list-style-type: sqaure;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: RoyalBlue;
}
* {
  box-sizing: border-box;
}
/* Create two equal columns that floats next to each other */

.column {
  float: right;
  width: 50%;
  padding: 10px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}
.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: url("../images/2.jpg");
  color: white;
  text-align: left;
  background-color: #cccccc;
}
h1 {
  font-size: 1.667em;
  /* 36.674px */
  line-height: 1.2em;
  /* 26px */
  font-family: 'Marcellus SC', Arial, sans-serif;
}
ul {
  text-align: left;
}
#logo {
  width: 90%;
  /*height: 4.632em; */
  /* 101.913px */
}
p {
  margin-top: 0.6em;
  /* 13.197px */
  margin-bottom: 0.6em;
  /* 13.197px */
  padding-top: 0.129em;
  /* 2.849px */
  padding-bottom: 0.129em;
  /* 2.849px */
}
label {
  display: inline-block;
  padding-top: 0.297em;
  /* 4.749px */
}
input[type=text] {
  border: none;
  background-color: #D4B6B6;
  font-family: 'Molengo', 'Average', sans-serif;
  padding-left: 0.297em;
  /* 4.749px */
  margin-bottom: 0.495em;
  /* 7.917px */
  width: 45%;
}
input[type=email] {
  border: none;
  background-color: #D4B6B6;
  font-family: 'Molengo', 'Average', sans-serif;
  padding-left: 0.297em;
  /* 4.749px */
  margin-bottom: 0.495em;
  /* 7.917px */
  width: 50%;
}
input[type=submit] {
  font-family: 'Molengo', 'Average', sans-serif;
  margin-top: 1em;
  /* 22px */
  padding-bottom: 0.297em;
  /* 4.749px */
  padding-left: 0.297em;
  /* 4.749px */
  padding-right: 0.297em;
  /* 4.749px */
  background-color: #D4B6B6;
}
input[type=radio] {
  background-color: #D4B6B6;
  width: 10%;
  height: 0.825em;
}
/* Mobile first queries */

@media screen and (min-width: 360px) {
  form {
    width: 90%;
  }
  form>label {
    width: 100%;
    float: none;
  }
  form>fieldset {
    width: 99%;
    float: none;
  }
  h1 {
    font-size: 1.375em;
    /* 22px */
  }
  label {
    display: block;
  }
  input[type=email] {
    width: 100%;
  }
  input[type=text] {
    width: 100%;
  }
  input[type=radio] {
    width: 15%;
  }
}
@media screen and (min-width: 480px) {
  form {
    margin: 0 0 1em 0;
    /* 22px */
    width: 100%;
  }
  form>label {
    width: 100%;
    float: none;
  }
  form>fieldset {
    width: 99%;
    float: none;
  }
  input[type=radio] {
    width: 9%;
  }
}
@media screen and (min-width: 768px) {
  html {
    box-sizing: content-box;
    font-size: 2em;
    /* 31px */
  }
  form {
    margin-left: 0.825em;
    /* 13.197px */
    margin-right: 3.821em;
    /* 61.136px */
    width: 100%;
  }
  form>label {
    text-align: right;
    width: 100%
  }
  p {
    width: 75%;
  }
  input[type=radio] {
    width: 9%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    box-sizing: content-box;
    font-size: 2.8em;
    /* 38px */
  }
  form {
    margin-left: 0.825em;
    /* 13.197px */
    margin-right: 3.821em;
    /* 61.136px */
    width: 100%;
  }
  form>label {
    text-align: right;
    width: 100%
  }
  p {
    width: 100%;
  }
  input[type=email] {
    width: 60%;
  }
  input[type=text] {
    width: 60%;
  }
  input[type=radio] {
    width: 10%;
  }
}
@media screen and (min-width: 1200px) {
  html {
    box-sizing: content-box;
    font-size: 2.292em;
    /* 36.674px */
  }
  body {
    padding-left: 15%;
    padding-right: 15%;
  }
  form>label {
    text-align: right;
    /*width: 85%;*/
  }
  p {
    width: 100%;
  }
}
/* ===== LAYOUT STYLES ====== */

/* ===== MODULAR STYLES ===== */

/* ===== STATE STYLES ======= */

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* stylelint-enable */

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button, input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button, select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button, html [type="button"],
/* 1 */

[type="reset"], [type="submit"] {}
img, audio, video {
  display: block;
  max-width: 100%;
}
/* ===== BASE STYLES ===== */

/*
  Major Sixth Modular Scale:
  http://www.modularscale.com/?22&px&1.667&web&text
*/

#list:hover {
  background-color: yellow;
}