/*
GENERAL HTML MAIN DESING
  */

html {
  font-size: 16px;
  padding: 2em;
  /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
  /*border: solid #F6A740;
  border-width: thick;*/
}
/*
GENERAL BODY MAIN DESING
  */

body {
  line-height: 1.45;
  margin-left: 1em;
  /* 22px */
  margin-right: 1em;
  /* 22px */
  padding: 2em;
  /* 22px */
  padding-bottom: 1em;
  font-family: 'Molengo', 'Average', sans-serif;
}
p {
  margin-top: 0.6em;
  /* 13.197px */
  margin-bottom: 1.25em;
  /* 13.197px */
  padding-top: 0.129em;
  /* 2.849px */
  padding-bottom: 0.129em;
  /* 2.849px */
  line-height: 1.2em;
}
h1 {
  margin-top: 0;
  font-size: 3.052em;
  /* 36.674px */
  line-height: 1.2em;
  /* 26px */
  font-family: 'Marcellus SC', Arial, sans-serif;
}
h2 {
  margin-top: 0;
  font-size: 2.441em;
  line-height: 1.2em;
}
h3 {
  font-size: 1.953em;
}
/*
UL DESIGN */

ul {
  padding-left: 2em;
  padding-right: 2em;
  list-style-type: disc;
  text-align: left;
  font-size: 1em;
}
ol {
  padding-top: 2em;
  padding-bottom: 2em;
}
/*
DESING FOR OUR TWO COMLUMNS
  */

.column {
  float: right;
  width: 50%;
  padding: 8px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}
.column1 {
  float: left;
  width: 50%;
  padding: 8px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}
/* home image Desgin*/

.homeimg {
  /*height: 4.632em; */
  /* 101.913px */
}
/* Logo Desgin*/

.logo {
  height: 150px;
  width: 25%;
  /*height: 4.632em; */
  /* 101.913px */
}
/* Label Desing Desgin*/

.logob {
  padding-top: 0.2em;
  padding-left: 0.2em;
  height: 60px;
  width: 12%;
}
label {
  display: inline-block;
  padding-top: 0.297em;
  /* 4.749px */
}
/* INput Desgin */

input[type=text] {
  border: none;
  background-color: gray;
  font-family: 'Molengo', 'Average', sans-serif;
  padding-left: 0.297em;
  /* 4.749px */
  margin-bottom: 0.495em;
  /* 7.917px */
  width: 45%;
}
input[type=email] {
  border: none;
  background-color: gray;
  font-family: 'Molengo', 'Average', sans-serif;
  padding-left: 0.297em;
  /* 4.749px */
  margin-bottom: 0.495em;
  /* 7.917px */
  width: 50%;
}
input[type=password] {
  border: none;
  background-color: gray;
  font-family: 'Molengo', 'Average', sans-serif;
  padding-left: 0.297em;
  /* 4.749px */
  margin-bottom: 0.495em;
  /* 7.917px */
  width: 50%;
}
input[type=submit] {
  font-family: 'Molengo', 'Average', sans-serif;
  margin-top: 1em;
  /* 22px */
  padding-bottom: 0.297em;
  /* 4.749px */
  padding-left: 0.297em;
  /* 4.749px */
  padding-right: 0.297em;
  /* 4.749px */
  background-color: gray;
}
input[type=radio] {
  background-color: gray;
  width: 10%;
  height: 0.825em;
}
/*Table Design*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Mobile first queries */

@media screen and (min-width: 360px) and ( max-width: 767px) {

.navbar a{
  float: none;
  width: 100%;

}

  .registerbtn {
  background-color: gray;
  border: none;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  cursor: pointer;
}
  .logo {
    height: 150px;
    width: 25%;
    /*height: 4.632em; */
    /* 101.913px */
  }
  .pagecontent {
    height: 35%;
    width: 35%;
  }

  ol {
    text-align: left;
    font-size: 0.8em;
}
  ul {
    text-align: left;
    font-size: 0.8em;
  }
  form {
    width: 80%;
  }
  form>label {
    width: 100%;
    float: none;
  }
  form>fieldset {
    width: 99%;
    float: none;
  }
  p {
    font-size: 0.8em;
  }
  h1 {
    margin-top: 0;
    font-size: 1.25em;
    /* 22px */
  }
  h2 {
    font-size: 1em;
    /* 22px */
  }
  h3 {
    font-size: 0.9em;
    /* 39.06px */
  }
  label {
    display: block;
  }
  input[type=email] {
    width: 100%;
  }
  input[type=text] {
    width: 100%;
  }
  input[type=password] {
    width: 100%;
  }
  input[type=radio] {
    width: 15%;
  }
}
}
/* For Minimum 768 */

@media screen and (min-width: 768px) {


  .pagecontent {
    height: 45%;
    width: 45%;
  }
  .homeimg {
    float: center;
    height: 200%;
    width: 100%;
    /*height: 4.632em; */
    /* 101.913px */
  }
  .logo {
    height: 150px;
    width: 25%;
    /*height: 4.632em; */
    /* 101.913px */
  }
  form {
    margin-left: 0.825em;
    /* 13.197px */
    margin-right: 3.821em;
    /* 61.136px */
    width: 100%;
  }
  form>label {
    text-align: left;
    width: 100%
  }
  input[type=radio] {
    width: 9%;
  }
  p {
    font-size: 0.8em;
  }
  h1 {
    margin-top: 0;
    font-size: 1.563em;
    /* 39px */
  }
  h2 {
    font-size: 1.25em;
    /* 31.25px */
  }
  h3 {
    font-size: 1em;
    /* 39.06px */
  }
}
/* For Minimum 1024 */

@media screen and (min-width: 1024px) {

  .pagecontent {
    height: 50%;
    width: 50%;
  }
  .homeimg {
    float: center;
    height: 200%;
    width: 100%;
    /*height: 4.632em; */
    /* 101.913px */
  }
  .logo {
    height: 150px;
    width: 25%;
    /*height: 4.632em; */
    /* 101.913px */
  }
  body {
    padding-left: 10%;
    /* 22px */
    padding-right: 10%;
    /* 22px */
    width: 95%;
    /* 22px */
    padding-bottom: 1em;
  }
  html {
    box-sizing: content-box;
    /* 38px */
  }
  form {
    margin-left: 0.825em;
    /* 13.197px */
    margin-right: 1.821em;
    /* 61.136px */
    width: 100%;
  }
  form>label {
    text-align: left;
    width: 100%
  }
  p {
    font-size: 1.25em;
  }
  ul {
    font-size: 1.20em;
  }
  h1 {
    font-size: 1.953em;
    /* 48.83px */
  }
  h2 {
    font-size: 1.563em;
    /* 39.06px */
  }
  h3 {
    font-size: 1.35em;
    /* 39.06px */
  }
  input[type=email] {
    width: 100%;
  }
  input[type=text] {
    width: 100%;
  }
  input[type=password] {
    width: 100%;
  }
  input[type=radio] {
    width: 10%;
  }
}
/* Generic design*/

button, input, optgroup, select {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15em;
  /* 1 */
  margin: 10px;
  /* 2 */
}
textarea {
  border: none;
  background-color: gray;
  font-family: 'Molengo', 'Average', sans-serif;
  padding-left: 0.297em;
  /* 4.749px */
  margin-bottom: 0.495em;
  /* 7.917px */
  width: 100%;
  height: 200px;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button, input {
  /* 1 */
  overflow: visible;
  vertical-align: middle;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button, select {
  /* 1 */
  text-transform: none;
}
button, html [type="button"],
/* 1 */

[type="reset"], [type="submit"] {}
img, audio, video {
  display: block;
  max-width: 100%;
}
/* Specific Design*/

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/* ===== BASE STYLES ===== */

/*
  Major Sixth Modular Scale:
  http://www.modularscale.com/?22&px&1.667&web&text
*/

.btn-group {
  background-color: #F0EAEA;
  border: 1px;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  float: left;
}
.btn-group:hover {
  background-color: gray;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: gray;
}
* {
  box-sizing: border-box;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  margin: 0;
  padding: 0;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a.active {
  background-color: #A28DB4;
  color: white;
}
.dropdown {
  float: none;
  overflow: none;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  height: 20px;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown-content a:hover {
  background-color: gray;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.container {
  position: relative;
  text-align: center;
  color: black;
  font-size: 1.1em;
}
.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Overwrite default styles of hr */

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* Set a style for the submit button */

.registerbtn {
  background-color: gray;
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 4px;
  cursor: pointer;
}
.registerbtn:hover {
  opacity: 1;
}
/* Add a blue text color to links */

a {
  color: dodgerblue;
}
/* Set a grey background color and center the text of the "sign in" section */

.signin {
  background-color: #f1f1f1;
  text-align: left;
}
.text {
  float: center;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  height: 4em;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
  background-color: #AAA4B0;
}