html {
  font-size: 1.375em;
  /* 22px */
  line-height: 1.2em;
  /* 26px / ~ 120% */
  padding: 1.2em;
  /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
  /*border: solid #968F9D;
  border-width: thick;*/
}

img {
  width: 100%;
  height: auto;
}
body {
  margin-left: 1em;
  /* 22px */
  margin-right: 1em;
  /* 22px */
  padding: 1em;
  /* 22px */
  font-family: 'Molengo', 'Average', sans-serif;
  background-color: #DAD6DD;
}



.footer {
  height: 15%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: url("../images/2.jpg");
  color: white;
  text-align: left;
  background-color: #AAA4B0;
}
h1 {
  font-size: 1.667em;
  /* 36.674px */
  line-height: 1.2em;
  /* 26px */
  font-family: 'Marcellus SC', Arial, sans-serif;
}
ul {
  text-align: left;
}
#logo {
  width: 30%;
  /*height: 4.632em; */
  /* 101.913px */
}
p {
  font-size: 12;
  margin-top: 0.6em;
  /* 13.197px */
  margin-bottom: 0.6em;
  /* 13.197px */
  padding-top: 0.129em;
  /* 2.849px */
  padding-bottom: 0.129em;
  /* 2.849px */
}
label {
  display: inline-block;
  padding-top: 0.297em;
  /* 4.749px */
}
input[type=text] {
  border: none;
  background-color: #BBACC8;
  font-family: 'Molengo', 'Average', sans-serif;
  padding-left: 0.297em;
  /* 4.749px */
  margin-bottom: 0.495em;
  /* 7.917px */
  width: 45%;
}
input[type=email] {
  border: none;
  font-family: 'Molengo', 'Average', sans-serif;
  padding-left: 0.297em;
  /* 4.749px */
  margin-bottom: 0.495em;
  /* 7.917px */
  width: 50%;
}
input[type=submit] {
  font-family: 'Molengo', 'Average', sans-serif;
  margin-top: 1em;
  /* 22px */
  padding-bottom: 0.297em;
  /* 4.749px */
  padding-left: 0.297em;
  /* 4.749px */
  padding-right: 0.297em;
  /* 4.749px */
  background-color: #A28DB4;
}
input[type=radio] {
  
  width: 10%;
  height: 0.825em;
}



/* Mobile first queries */

@media screen and (min-width: 360px) {
  #logo {
  width: 25%;
  /*height: 4.632em; */
  /* 101.913px */
}
body{
  font-size: 1em;
}
  form {
    width: 90%;
  }
  form>label {
    width: 100%;
    float: none;
  }
  form>fieldset {
    width: 99%;
    float: none;
  }
  h1 {
    font-size: 1.375em;
    /* 22px */
  }
  label {
    display: block;
  }
  input[type=email] {
    width: 100%;
  }
  input[type=text] {
    width: 100%;
  }
  input[type=radio] {
    width: 15%;
  }
}



@media screen and (min-width: 480px) {
    #logo {
  width: 30%;
  /*height: 4.632em; */
  /* 101.913px */
}
  form {
    margin: 0 0 1em 0;
    /* 22px */
    width: 100%;
  }
  form>label {
    width: 100%;
    float: none;
  }
  form>fieldset {
    width: 99%;
    float: none;
  }
  input[type=radio] {
    width: 9%;
  }
}



@media screen and (min-width: 768px) {
    #logo {
  width: 35%;
  /*height: 4.632em; */
  /* 101.913px */
}
  html {
    box-sizing: content-box;
    font-size: 2em;
    /* 31px */
  }
  form {
    margin-left: 0.825em;
    /* 13.197px */
    margin-right: 3.821em;
    /* 61.136px */
    width: 100%;
  }
  form>label {
    text-align: right;
    width: 100%
  }
  p {
    width: 75%;
  }
  input[type=radio] {
    width: 9%;
  }
}





@media screen and (min-width: 1024px) {
    #logo {
  width: 40%;
  /*height: 4.632em; */
  /* 101.913px */
}
  html {
    box-sizing: content-box;
    font-size: 2.8em;
    /* 38px */
  }
  form {
    margin-left: 0.825em;
    /* 13.197px */
    margin-right: 3.821em;
    /* 61.136px */
    width: 100%;
  }
  form>label {
    text-align: right;
    width: 100%
  }
  p {
    width: 100%;
  }
  input[type=email] {
    width: 60%;
  }
  input[type=text] {
    width: 60%;
  }
  input[type=radio] {
    width: 10%;
  }
}




@media screen and (min-width: 1200px) {
  #logo {
  width: 40%;
  /*height: 4.632em; */
  /* 101.913px */
}
  html {
    box-sizing: content-box;
    font-size: 2.292em;
    /* 36.674px */
  }
  body {
    padding-left: 15%;
    padding-right: 15%;
  }
  form>label {
    text-align: right;
    /*width: 85%;*/
  }
  p {
    width: 100%;
  }
}

/* ===== LAYOUT STYLES ====== */

/* ===== MODULAR STYLES ===== */

/* ===== STATE STYLES ======= */

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* stylelint-enable */

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button, input, optgroup, select {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 10px;
  /* 2 */
}
textarea{
  border: none;
  background-color: #BBACC8;
  font-family: 'Molengo', 'Average', sans-serif;
  padding-left: 0.297em;
  /* 4.749px */
  margin-bottom: 0.495em;
  /* 7.917px */
  width: 100%;

  height: 200px;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button, input {
  /* 1 */
  overflow: visible;
  vertical-align:middle;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button, select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button, html [type="button"],
/* 1 */

[type="reset"], [type="submit"] {}
img, audio, video {
  display: block;
  max-width: 100%;
}


.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* ===== BASE STYLES ===== */


/*
  Major Sixth Modular Scale:
  http://www.modularscale.com/?22&px&1.667&web&text
*/



.btn {
  background-color: #A28DB4;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: #BBACC8;
}
* {
  box-sizing: border-box;
}



.fb {
  background: #4661b0; /* make it "Facebook blue" */
  text-indent: -999em; /* Back the actual text in the paragraph tag out of the element */
  width: 100px; /* Make it nice and big */
  height: 110px; /* The tag is 10px larger because of how we're handling the borders below */
  border-radius: 3px; /* for that oh so important modern look */
  position: relative; /* so we can position our other elements absolutely */
  overflow: hidden; /* so we can hide any overflow those elements will have */
  border: 15px solid #4661b0; /* so we can make it look like the F is not butting up against the right side of the box */
  border-bottom: 0; /* removing the border here though, because the F does touch the bottom of the box */
}

.fb:before {
  content: "/20"; /* Psuedo elements need something for content, this means a blank space */
  position: absolute; /* So we can position it exactly where we want it */
  background: #4661b0; /* make the box the same Facebook blue */
  width: 40px; /* setup the right width, which actually extends the box outside of the containing element (along with our positioning below) */
  height: 90px; /* this also extends the trunk outside of the main box */
  bottom: -30px; /* as mentioned above, we pull the box we're using to create the trunk of the F down to hide some of it, because it will have rounded corners on all sides */
  right: -37px; /* similar to what we're doing with bottom above */
  border: 20px solid white; /* make the remaining visible border white and thick enough to look right */
  border-radius: 25px; /* now give the top right visible corner the necessary curve */
}



.fb:after {
  content: "/20"; /* again, pseudo elements need content to be visible */
  position: absolute;  /* and we're going to want to position absolutely */
  width: 55px;  /* the desired width of the box to make the bar long enough */
  top: 50px;  /* set it in the proper location */
  height: 20px;  /* make it thick enough */
  background: white;  /* and the right color */
  right: 5px;  /* then back it up from the edge of the containing block a bit */
}



.navbar {
  overflow: hidden;
  background-color: #968F9D;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #DAD6DD;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a.active {
  background-color: #A28DB4;
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #DAD6DD;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #968F9D;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}



